/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | [ |
            // | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | LWR |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | SPACE |   | ENTER | BKSP | RSE |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y      &kp U  &kp I              &kp O    &kp P     &kp LBKT
&kp TAB    &kp A  &kp S  &kp D         &kp F  &kp G      &kp H      &kp J  &kp K              &kp L    &kp SEMI  &kp RIGHT_WIN
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N      &kp M  &kp COMMA          &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LEFT_ALT  &mo 1  &kp RET    &kp SPACE  &mo 2  &kp RIGHT_CONTROL
            >;
        };

        layer_below {
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_above {
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp CAPSLOCK  &trans  &trans  &trans  &kp BACKSPACE  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans         &trans
                        &trans  &trans  &trans    &trans        &trans  &trans
            >;
        };
    };
};
