/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | [ |
            // | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | LWR |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | SPACE |   | ENTER | BKSP | RSE |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y      &kp U  &kp I              &kp O    &kp P     &kp LBKT
&kp TAB    &kp A  &kp S  &kp D         &kp F  &kp G      &kp H      &kp J  &kp K              &kp L    &kp SEMI  &kp RIGHT_WIN
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N      &kp M  &kp COMMA          &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LEFT_ALT  &mo 1  &kp RET    &kp SPACE  &mo 2  &kp RIGHT_CONTROL
            >;
        };

        layer_below {
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none
&none  &none   &none   &none   &none   &none     &none   &none   &none   &none   &none   &none
&none  &none   &none   &none   &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none  &none  &none  &none
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_above {
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            // |      |     |     |     |     |     |   |     |     |     |     |     |     |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&none  &none  &none  &none  &none  &none    &kp K_APP       &kp END        &kp HOME      &none           &kp PRINTSCREEN  &none
&none  &none  &none  &none  &none  &none    &kp LEFT_ARROW  &kp DOWN       &kp UP_ARROW  &kp RIGHT_ARROW  &kp BACKSPACE    &kp DELETE
&none  &none  &none  &none  &none  &none    &kp CAPS        &kp PAGE_DOWN  &kp PAGE_UP   &none           &none           &none
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_win {
            bindings = <
&none  &none  &none   &none   &none   &none     &none   &none   &none   &none   &none   &none
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &none   &none   &none   &none   &none   &none
&none  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10   &none   &none   &none   &none   &none   &none
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        two_fingers {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
